.form_container {
  padding: 2%;

  margin: 5% 20% 5% 20%;

  color: white;
  border-radius: 13px;

  display: flex;

  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.1);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(214, 214, 214);

  flex-direction: column;
}

.input_field_container {
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(214, 214, 214);
  padding: 13px;

  margin: 0px 0px 20px 0px;
}

.input_label {
  font-size: large;
  font-weight: 600;
  margin: 10px 10px 20px 10px;
  color: black;
}

.input_text {
}
