input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.form_container {
  padding: 3% 7% 3% 7%;

  margin: 1% 10% 5% 10%;

  color: white;

  display: flex;

  flex-direction: column;
}

.input_field_container {
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #949494;
  background-color: #dfe9fb;
  padding: 13px;
  width: 60%;
  margin: 0px 0px 15px 0px;
}
.input_field_container_no {
  border-radius: 5px;
  background-color: #dfe9fb;
  border-width: 1px;
  border-style: solid;
  border-color: #949494;
  padding: 13px;
  width: 15%;
  margin: 0px 0px 15px 0px;
}

.input_label {
  font-size: large;
  font-weight: 600;
  margin-bottom: 10px;
  color: black;
}

.del_chip {
  margin: 0px 10px 10px 10px;

  white-space: nowrap;
  color: white;
  padding: 0 25px;
  height: 40px;
  font-size: 15px;
  line-height: 50px;
  border-radius: 20px;

  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #417de9;
  color: white;
}

.closebtn {
  padding-left: 5px;
  align-content: center;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.chip_wrapper {
  margin: 10px 0 20px 0;
  display: flex;
  flex-wrap: wrap;
}
.chip {
  background-color: #99b9f3;

  margin: 0px 10px 10px 10px;

  white-space: nowrap;
  color: white;
  padding: 0 25px;
  height: 40px;
  font-size: 15px;
  line-height: 50px;
  border-radius: 20px;

  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.chip_change {
  background-color: #417de9;

  margin: 0px 10px 10px 10px;
  padding: 0 25px;
  height: 40px;
  font-size: 15px;
  line-height: 50px;
  border-radius: 20px;
  white-space: nowrap;
  color: white;

  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
}
.schip {
  border-radius: 3px;
  background-color: gray;
  padding: 5px;
  font-size: 15px;
  height: 25px;
  white-space: nowrap;
  color: black;
  margin-right: 10px;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.text_area {
  padding: 20px;
  margin: 10px 0 10px 0;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  font-size: large;
  background-color: #dfe9fb;
  height: 200px;
}

.dialog {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
}
.dialog_hide {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
}

.dialog_content {
  background-color: #fefefe;
  margin: 200px 35% 0 35%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid #888;
  width: 30%;
}
.button {
  border-radius: 5px;

  padding: 10px;

  width: 94%;
  margin: 10px 0px 20px 0px;

  z-index: 10px;
  color: white;
  background-color: #1a73e8;
  border-width: 0;
  text-align: center;
}

.dialog_fields {
  display: flex;
  justify-content: center;
  color: black;
}

.continents {
  padding: 2%;
  margin: 0 20% 20px 20%;
  display: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
  background-color: white;
  flex-direction: column;
  border-top: 1px solid black;
}
.accordion_container {
  margin-bottom: 0;
  color: black;
  flex-wrap: wrap;
}

.accordion_elements {
  color: black;
  display: none;
  flex-direction: column;
  margin-bottom: 10px;
}
.city {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 12px 5px 10px 5px;
  flex-wrap: wrap;
}
.city_wrapper {
  display: flex;

  flex-wrap: wrap;
  flex: 5;
  width: 100%;
}
.city:nth-child(1) {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-top: 1px solid black;

  padding: 12px 5px 10px 5px;
}

.country {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.continent_header {
  padding: 10px;
  font-size: larger;
  position: relative;
}

.select_country_header {
  padding: 10px;
  font-size: larger;
  position: relative;
  color: black;
  margin: 0 20% 0 20%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.expand {
  position: absolute;
  right: 0;
  font-size: smaller;
}

.input_chip {
  height: 20px;
  font-size: 15px;
  width: fit-content;
  border-width: thin;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
}

::-webkit-input-placeholder {
  /* Edge */
  color: gray;
  text-align: center;
}

:-ms-input-placeholder {
  /* Internet Explorer */
  color: gray;
  text-align: center;
}

::placeholder {
  color: gray;
  text-align: center;
}
